body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4322 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:262px;
  width:1356px;
  height:200px;
}
#u4323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
}
#u4323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
}
#u4324 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:0px;
  width:339px;
  height:52px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
}
#u4325 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:0px;
  width:339px;
  height:52px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
}
#u4326 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:0px;
  width:339px;
  height:52px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4328 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:52px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4329 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:52px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#70B603;
}
#u4329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4330 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:52px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u4330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u4331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:339px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u4332 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:102px;
  width:339px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u4333 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:102px;
  width:339px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#70B603;
}
#u4333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u4334 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:102px;
  width:339px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u4334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u4335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4336 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:150px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4337 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:150px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#70B603;
}
#u4337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4338 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:150px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#95F204;
}
#u4338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:262px;
}
#u4339 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:0px;
  width:638px;
  height:262px;
  display:flex;
}
#u4339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
