body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4366 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:185px;
  width:1356px;
  height:150px;
}
#u4367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
}
#u4367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
}
#u4368 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:0px;
  width:339px;
  height:52px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
}
#u4369 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:0px;
  width:339px;
  height:52px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
}
#u4370 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:0px;
  width:339px;
  height:52px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4372 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:52px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4373 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:52px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#70B603;
}
#u4373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4374 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:52px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u4374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u4375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:339px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u4376 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:102px;
  width:339px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u4377 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:102px;
  width:339px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#70B603;
}
#u4377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u4378 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:102px;
  width:339px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u4378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:185px;
}
#u4379 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:0px;
  width:468px;
  height:185px;
  display:flex;
}
#u4379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
