body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1392px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:573px;
  width:1356px;
  height:500px;
}
#u3986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:0px;
  width:339px;
  height:52px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:0px;
  width:339px;
  height:52px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:0px;
  width:339px;
  height:52px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u3989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u3990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:52px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:52px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u3992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:52px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#95F204;
}
#u3993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:339px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u3994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:102px;
  width:339px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:102px;
  width:339px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u3996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:102px;
  width:339px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u3997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u3998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:150px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:150px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F59A23;
}
#u4000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:150px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F59A23;
}
#u4001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:200px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:200px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F59A23;
}
#u4004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:200px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F59A23;
}
#u4005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:250px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:250px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:250px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#95F204;
}
#u4009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:300px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:300px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#70B603;
}
#u4012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:300px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#95F204;
}
#u4013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:350px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:350px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u4016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:350px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u4017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:400px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:400px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u4020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:400px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u4021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:450px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:450px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F59A23;
}
#u4024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:450px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#F59A23;
}
#u4025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:518px;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:0px;
  width:816px;
  height:518px;
  display:flex;
}
#u4026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
