body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4228 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:277px;
  width:1356px;
  height:300px;
}
#u4229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
}
#u4229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
}
#u4230 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:0px;
  width:339px;
  height:52px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
}
#u4231 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:0px;
  width:339px;
  height:52px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
}
#u4232 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:0px;
  width:339px;
  height:52px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4234 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:52px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4235 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:52px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#70B603;
}
#u4235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4236 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:52px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u4236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u4237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:339px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u4238 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:102px;
  width:339px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u4239 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:102px;
  width:339px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#70B603;
}
#u4239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
}
#u4240 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:102px;
  width:339px;
  height:48px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u4240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u4241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4242 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:150px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4243 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:150px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#70B603;
}
#u4243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4244 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:150px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u4244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4246 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:200px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4247 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:200px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#70B603;
}
#u4247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4248 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:200px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u4248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u4249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4250 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:250px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4251 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:250px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#70B603;
}
#u4251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:50px;
}
#u4252 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:250px;
  width:339px;
  height:50px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
#u4252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:277px;
}
#u4253 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:0px;
  width:632px;
  height:277px;
  display:flex;
}
#u4253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
